<h1>我的Angular项目01</h1>
<!-- <app-myc02-ngfor></app-myc02-ngfor>
<app-myc03-ngif></app-myc03-ngif> -->
<!-- <app-myc04-ngif></app-myc04-ngif> -->
<!-- <app-myc06-style></app-myc06-style> -->
<!-- <app-myc07-switch></app-myc07-switch> -->
<!-- <app-myc08-ngmodel></app-myc08-ngmodel> -->
<!-- <app-todolist></app-todolist> -->
<!-- <app-pipe></app-pipe> -->

<!-- <app-zzmm-pipe></app-zzmm-pipe> -->

<!-- <app-myc09></app-myc09> -->
<!-- <app-myc10></app-myc10> -->

<!-- <app-parent-blog></app-parent-blog> -->
<!-- <app-material></app-material> -->
<!-- <app-table></app-table> -->
<!-- <app-material></app-material> -->
<app-stepper></app-stepper>