<p>myc08-ngmodel works!</p>
<input [(ngModel)]="uname" placeholder="请输入用户名" (ngModelChange)="doUnameChange()">
<p>{{uname}}</p>

<!-- 练习:注册新用户时,密码字段随着输入的进行,后面的span中显示更改 -->
<input type="password" [(ngModel)]="password"  (ngModelChange)="doPasswdChange()">
<span >{{warn}}</span>

<!-- 自定义指令 -->
<div id='d1' appXuYaoQiangDiao>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, debitis minus. Consequatur natus suscipit, ullam, tenetur, illum odio iste debitis fugit similique tempore possimus nemo ut quisquam sed. Delectus, veritatis!
</div>
<div id='d2' >
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, debitis minus. Consequatur natus suscipit, ullam, tenetur, illum odio iste debitis fugit similique tempore possimus nemo ut quisquam sed. Delectus, veritatis!
</div>
<div id='d3' appXuYaoQiangDiao>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, debitis minus. Consequatur natus suscipit, ullam, tenetur, illum odio iste debitis fugit similique tempore possimus nemo ut quisquam sed. Delectus, veritatis!
</div>